@page
@model lojaCafesApp.Pages.Torras.DeleteModel

@{
    ViewData["Title"] = "Deletar";
}

<div style="margin: 5rem;" class="d-flex flex-column">
    <h3>Você tem certeza que gostaria de deletar esse item?</h3>
    <div class="my-5">
        <h4>@Model.TorraCafe.Nome</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TorraCafe.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TorraCafe.Nome)
            </dd>
        </dl>
        
        <form method="post">
            <input type="hidden" asp-for="TorraCafe.TorraCafeId" />
            <input type="submit" value="Deletar" class="bg-danger" /> |
            <a asp-page="./Index">Voltar</a>
        </form>
    </div>
</div>
