@page
@{
    ViewData["Title"] = "Quem Somos";
}
<h1 class="my-5">@ViewData["Title"]</h1>

<h2 class="my-5">Bem-vindo à Loja Cafés - O Sabor do Café Orgânico Brasileiro</h2>

<p class="mb-5">Há mais de uma década, nós da Loja Cafés temos orgulho de levar até você o melhor café orgânico e de agricultura familiar do Brasil. Nossa jornada começou com a paixão por café e o compromisso com a sustentabilidade. Hoje, somos referência no mercado, oferecendo aos nossos clientes a experiência única de saborear um café que respeita o meio ambiente e apoia comunidades locais.</p>

<div class="card bg-light mb-5" style="max-width: 100rem; ">
  <div class="card-header">
    <h3>O Que Nos Torna Especiais:</h3>
  </div>
  <div class="card-body">
    <ul>
        <li class="card-text">
            <strong>Origem Sustentável: </strong>Trabalhamos diretamente com pequenos agricultores brasileiros que cultivam café de maneira orgânica. Isso não só preserva a biodiversidade local, mas também reduz o impacto negativo no meio ambiente.
        </li>
        <li class="card-text">
            <strong>Agricultura Familiar: </strong>Valorizamos as comunidades locais, pois acreditamos que o café de qualidade começa com pessoas comprometidas. Comprando de agricultores familiares, ajudamos a melhorar suas condições de vida e fortalecemos suas tradições.
        </li>
        <li class="card-text">
            <strong>Qualidade Inigualável: </strong>Cada grão de café que você encontra em nossos produtos passa por um rigoroso processo de seleção e torrefação, garantindo um sabor autêntico e uma experiência única em cada xícara.
        </li>
        <li class="card-text">
            <strong>Variedade de Sabores: </strong>Oferecemos uma ampla variedade de grãos de café, desde os mais suaves até os mais intensos. Assim, você pode encontrar o café perfeito que se adapte ao seu paladar.
        </li>
        <li class="card-text">
            <strong>Compromisso com o Cliente: </strong>Nosso compromisso vai além da venda. Estamos aqui para fornecer informações, dicas de preparo e suporte para que sua experiência com nosso café seja a melhor possível.
        </li>
    </ul>
  </div>
</div>

<h3>Sabor que Faz a Diferença:</h3>

<p>Cada xícara de café que você desfruta da [Nome da Sua Empresa] é uma celebração da cultura brasileira, da natureza exuberante e da dedicação de agricultores locais. Ao escolher nosso café, você está contribuindo para um futuro mais sustentável, apoiando comunidades rurais e apreciando um produto que reflete paixão e qualidade.</p>
<p>Explore nosso catálogo de café orgânico e encontre o seu favorito. Se tiver alguma dúvida ou precisar de orientação, não hesite em nos contatar. Estamos aqui para compartilhar a riqueza do café brasileiro com o mundo.</p>
<p>Agradecemos por fazer parte da nossa jornada e esperamos que cada gole de nosso café traga alegria e satisfação.</p>

<div class="card text-white bg-secondary my-5" style="max-width: 100rem;">
    <h3 style="margin: auto">Faça Seu Pedido Agora e Experimente a Diferença!</h3>
</div>