@page

@{
    ViewData["Title"] = "Privacidade";
}
<h1 class="my-5">@ViewData["Title"]</h1>

<p>Na Loja Cafés, respeitamos e valorizamos a privacidade de nossos clientes e visitantes do nosso site. Esta política de privacidade descreve como coletamos, usamos, divulgamos e protegemos as informações pessoais que você nos fornece. Ao utilizar nossos serviços ou fornecer informações pessoais, você concorda com as práticas descritas nesta política.</p>

<div class="card text-white bg-info mb-3" style="max-width: 100rem;">
    <h3 style="margin: auto">Informações que Coletamos:</h3>
</div>

<ul>
    <li>
        <strong>Informações de Contato: </strong>Coletamos informações pessoais, como nome, endereço de e-mail, número de telefone e endereço de correspondência, quando você se inscreve em nossa newsletter, faz uma compra ou entra em contato conosco.
    </li>
    <li>
        <strong>Informações de Pagamento: </strong>Para processar pedidos, podemos coletar informações de pagamento, como números de cartão de crédito, endereço de faturamento e informações de entrega.
    </li>
    <li>
        <strong>Informações de Uso do Site: </strong>Coletamos informações sobre como você interage com nosso site, incluindo páginas visitadas, produtos visualizados e informações sobre o dispositivo que você está usando, como endereço IP, navegador e sistema operacional.
    </li>
</ul>
<div class="card text-white bg-info mb-3" style="max-width: 100rem;">
    <h3 style="margin: auto">Uso das Informações:</h3>
</div>

<p>Utilizamos suas informações pessoais para os seguintes fins:</p>

<ul>
    <li>Processar pedidos e pagamentos.</li>
    <li>Enviar atualizações, promoções e informações relevantes por e-mail.</li>
    <li>Melhorar a experiência do usuário em nosso site.</li>
    <li>Responder a perguntas, solicitações de suporte ou comentários.</li>
    <li>Cumprir obrigações legais ou regulamentares.</li>
</ul>

<div class="card text-white bg-info mb-3" style="max-width: 100rem;">
    <h3 style="margin: auto">Divulgação de Informações:</h3>
</div>
<p>Não vendemos, alugamos ou compartilhamos suas informações pessoais com terceiros, exceto quando necessário para cumprir com obrigações contratuais ou legais. Podemos compartilhar suas informações com fornecedores de serviços de terceiros que nos auxiliam na operação do nosso negócio, como processadores de pagamento ou serviços de entrega.</p>

<div class="card text-white bg-info mb-3" style="max-width: 100rem;">
 <h3 style="margin: auto">Proteção de Informações:</h3>
</div>
<p>Tomamos medidas para proteger suas informações pessoais contra acesso não autorizado, uso indevido ou divulgação. Utilizamos práticas de segurança padrão da indústria para manter a segurança de suas informações.</p>

<div class="card text-white bg-info mb-3" style="max-width: 100rem;">
    <h3 style="margin: auto">Seus Direitos:</h3>
</div>
<p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais a qualquer momento. Se desejar exercer esses direitos ou tiver alguma pergunta sobre nossa política de privacidade, entre em contato conosco através das informações de contato fornecidas no final desta página.</p>

<div class="card text-white bg-info mb-3" style="max-width: 100rem;">
    <h3 style="margin: auto">Alterações na Política de Privacidade:</h3>
</div>
<p>Reservamo-nos o direito de atualizar ou modificar esta política de privacidade a qualquer momento. Quaisquer alterações serão refletidas nesta página com a data de efetivação revisada. Recomendamos que você reveja periodicamente esta política para se manter informado sobre como protegemos suas informações.</p>

<figure class="mt-5">
    <blockquote class="blockquote">
        <p class="mb-0">Agradecemos por confiar em nós e por escolher a Loja Cafés para suas necessidades. Estamos comprometidos em proteger sua privacidade e proporcionar uma experiência segura e confiável.</p>
    </blockquote>
</figure>

<br />
<div class="card border-info mb-3" style="max-width: 100rem;">
    <div class="card-header">Para qualquer dúvida ou preocupação relacionada à privacidade, entre em contato conosco em:</div>
    <div class="card-body">
        <ul class="card-text">
            <li>Endereço: Rua Fictícia, 123, Bairro Imaginário, Cidade dos Sonhos, Estado Fantástico, CEP: 12345-678</li>
            <li>E-mail: contato@empresaexemplo.com</li>
            <li>Telefone: (11) 5555-5555</li>
        </ul>
    </div>
</div>